@{
    ViewData["Title"] = "Home";
}


<div class="container text-center rounded shadow-lg">
    <br />
    <h1>Yeet</h1>

    <div class="container rounded text-center">

        <p>
            Yeet
        </p>
        <br />
    </div>

    <h4>Yeet</h4>



    @*<form method="post">
        <input type="text" placeholder="Search.." />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>*@
    <br />
</div>
<br />
@*<div class="container text-center content-center">
        <img src="../img/delicatearch.jpg" width="600px" />
    </div>*@